.container {
    /*background-image: url(../assets/web_admin_01.png);
    background-repeat: no-repeat;*/
    width: 835px;
    height: 638px;
    /*background-size: 100% 100%;*/
}

.nav-brand {
    padding: 24px 41px;
    font-size: 27px;
}

.nav-right {
    margin-right: 14px;
    font-size: 17px;
    margin-top: 12px;
}

.nav-form {
    margin-left: 31px;
    padding: 0px;
    margin-top: 0px;
}

a {
    color: black;
}

.ro-w {
    margin-right: 0px;
    margin-left: 0px;
}

#navBarSearchForm input[type=Search] {
    width: 430px !important;
}