@font-face {
  font-family: 'BerninaSans-Regular';
  src: url('./assets/fonts/BerninaSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/BerninaSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/BerninaSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/BerninaSans-Regular.svg') format('svg'); /* Legacy iOS */ /*webfont.svg#svgFontName'*/
}
@font-face {
  font-family: 'BerninaSans-Semibold';
  src: url('./assets/fonts/BerninaSans-Semibold.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/BerninaSans-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/BerninaSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/BerninaSans-Semibold.svg') format('svg'); /* Legacy iOS */ /*webfont.svg#svgFontName'*/
}


*{
    font-family: "BerninaSans-Regular", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #35373A;
}

.container {
    /*background-image: url(../assets/web_admin_01.png);*/
    /*background-repeat: no-repeat;*/
    width: 61%;
    height: 100%;
    /*background-size: 100% 100%;*/
}


/*.container1 {
    width: 835px;
    height: 638px;
}*/

.nav-brand {
    padding: 24px 0;
    font-size: 27px;
}

.nav-right {
    font-size: 17px;
    margin-top: 12px;
}

.nav-form {
    margin-left: 31px;
    padding: 0px;
    margin-top: 0px;
}

a {
    color: #35373A;
}

.ro-w {
    margin-right: 0px;
    margin-left: 0px;
}

#navBarSearchForm input[type=Search] {
    width: 430px !important;
}


/*.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li,
.navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}*/



.concil-nav{}

.concil-nav .navbar-brand{margin-left: -16px; font-weight: bold;font-size: 28px}

.concil-nav .navbar-nav{}
.concil-nav .navbar-nav > li > a{padding-top:10px; padding-bottom:10px;}
.concil-nav .navbar-nav li a{border-bottom:3px solid #fff;color:#cbd1cf;font-size: 22px;}
.concil-nav .navbar-nav li a.active{border-bottom:3px solid #3CB18A;color:#35373A;background-color:#fff;font-family: "BerninaSans-Semibold";}
.concil-nav .navbar-nav li a:hover{background-color: #fff ;}