<div class="row ro-w">

  <div class="concil-PD-header">
    <h4 ng-if="product" class="concil-PD-header-title">Unit {{product.UnitNum}}</h4>
    <div class="concil-PD-header-button">
      <h4 class="lbldelete" (click)="deleteUnit()">Delete</h4>
      <h4 class="lblcancel" (click)="cancel()">Cancel</h4>
      <h4 class="lblsave" (click)="saveUnit()">SAVE</h4>
    </div>
  </div>

  <table class='table table-striped concil-table'>
    <thead>
      <tr>
        <th>#</th>
        <th>Parent</th>
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="product" class="trbgcolor">
        <td> {{product.UnitNum}} </td>
        <td>{{product.ParentNum}}</td>
        <td> <input type="text" [(ngModel)]='product.UnitName' class="txtunitname" /></td>
        <td>
          <select class="txtunitname" [(ngModel)]='product.UnitType' ng-init="product.UnitType">        
            <option value="Area">Area</option>
            <option value="Stake">Stake</option>
            <option value="Ward">Ward</option>          
         </select>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
    <div class="concil-PD-sub-header">
       <h5 class="concil-PD-sub-header-title">Units Above This Unit</h5>
    </div>
  

  <table class='table table-striped concil-table'>
    <thead>
      <tr>
        <th>#</th>
        <th>Parent</th>
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unit of unitsabove">
        <td>{{unit.UnitNum}}</td>
        <td>{{unit.ParentNum}}</td>
        <td>{{unit.UnitName}}</td>
        <td>{{unit.UnitType}}</td>
        <td>
          <button><span class="icon-angle-right" ></span></button>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <div class="concil-PD-sub-header">
       <h5 class="concil-PD-sub-header-title">Units Below This Unit</h5>
    </div>
  
  <table class='table table-striped concil-table'>
    <thead>
      <tr>
        <th>#</th>
        <th>Parent</th>
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unt of unitsbelow">
        <td>{{unt.UnitNum}}</td>
        <td>{{unt.ParentNum}}</td>
        <td> <input type="text" [(ngModel)]='unt.UnitName' class="txtunitname" /></td>
        <td>
          <select class="txtunitname" [(ngModel)]='unt.UnitType' ng-init="unt.UnitType">        
            <option value="Area">Area</option>
            <option value="Stake">Stake</option>
            <option value="Ward">Ward</option>
            <option value="Ward">Branch</option>  
            <option value="Ward">District</option>        
         </select>
        </td>
        <td>
          <button><span class="icon-angle-right" ></span></button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
