<div style="width:100%; float:left; margin-bottom:50px;">

  <ng-container *ngIf=isDetail>

    <div class="divunitnum concil-PD-header">
      <h4 ng-if="product" class="concil-PD-header-title">Unit {{product.UnitNum}}</h4>
      <h5 class="lbledit concil-PD-header-edit" (click)="edit()">Edit</h5>
    </div>

    <table class='table table-striped concil-table concil-table-striped-black'>
      <thead>
        <tr>
          <th>#</th>
          <th>Parent</th>
          <th>Name</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="product" class="trbgcolor">
          <td class="col-md-1"> {{product.UnitNum}} </td>
          <td class="col-md-1">{{product.ParentNum}}</td>
          <td class="col-md-8">{{ product.ActUnitName }}</td>
          <td class="col-md-1">{{ product.ActUnitType }}</td>
          <td class="col-md-1"><span class="glyphicon glyphicon-menu-right" style="visibility:hidden"></span></td>
        </tr>
      </tbody>
    </table>

    <div class="concil-PD-sub-header">
      <h5 class="concil-PD-sub-header-title">Units Above This Unit</h5>
    </div>


    <table class='table table-striped concil-table'>
      <thead>
        <tr>
          <th>#</th>
          <th>Parent</th>
          <th>Name</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unit of unitsabove">
          <td class="col-md-1">{{unit.UnitNum}}</td>
          <td class="col-md-1">{{unit.ParentNum}}</td>
          <td class="col-md-8">{{unit.UnitName}}</td>
          <td class="col-md-1">{{unit.UnitType}}</td>
          <td class="col-md-1" (click)="getUnitsById(unit.UnitNum,unit.ParentNum,unit)"><span class="glyphicon glyphicon-menu-right"></span></td>
        </tr>
      </tbody>
    </table>

    <div class="concil-PD-sub-header">
      <h5 class="concil-PD-sub-header-title">Units Below This Unit</h5>
    </div>


    <table class='table table-striped concil-table'>
      <thead>
        <tr>
          <th>#</th>
          <th>Parent</th>
          <th>Name</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unt of unitsbelow">
          <td class="col-md-1">{{unt.UnitNum}}</td>
          <td class="col-md-1">{{unt.ParentNum}}</td>
          <td class="col-md-8">{{unt.ActUnitName}}</td>
          <td class="col-md-1">{{unt.ActUnitType}}</td>
          <td class="col-md-1" (click)="getUnitsById(unt.UnitNum,unt.ParentNum,unt)"><span class="glyphicon glyphicon-menu-right"></span></td>
        </tr>
      </tbody>
    </table>

  </ng-container>



  <ng-container *ngIf=!isDetail>

    <div class="concil-PD-header">
      <h4 ng-if="product" class="concil-PD-header-title">Unit {{product.UnitNum}}</h4>
      <div class="concil-PD-header-button">
        <h4 class="lbldelete" (click)="deleteUnit(product)">Delete</h4>
        <h4 class="lblcancel" (click)="cancel()">Cancel</h4>
        <h4 class="lblsave" (click)="saveUnit()">SAVE</h4>
      </div>
    </div>

    <table class='table table-striped concil-table concil-table-striped-black'>
      <thead>
        <tr>
          <th>#</th>
          <th>Parent</th>
          <th>Name</th>
          <th>Type</th>
          <th>&nbsp;&nbsp;&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="product" class="trbgcolor">
          <td class="col-md-1"> {{product.UnitNum}} </td>
          <td class="col-md-1">{{product.ParentNum}}</td>
          <td class="col-md-7"> <input type="text" [(ngModel)]='product.UnitName' class="txtunitname" /></td>
          <td class="col-md-2">
            <select class="txtunitname" [(ngModel)]='product.UnitType' ng-init="product.UnitType">        
            <option value="Area">Area</option>
            <option value="Stake">Stake</option>
            <option value="Ward">Ward</option>          
         </select>
          </td>
          <td class="col-md-1">&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <br>
    <div class="concil-PD-sub-header">
      <h5 class="concil-PD-sub-header-title">Units Above This Unit</h5>
    </div>


    <table class='table table-striped concil-table'>
      <thead>
        <tr>
          <th>#</th>
          <th>Parent</th>
          <th>Name</th>
          <th>Type</th>
          <th>&nbsp;&nbsp;&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unit of unitsabove">
          <td class="col-md-1">{{unit.UnitNum}}</td>
          <td class="col-md-1">{{unit.ParentNum}}</td>
          <td class="col-md-7">{{unit.UnitName}}</td>
          <td class="col-md-2">{{unit.UnitType}}</td>
          <td class="col-md-1">&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <br>
    <div class="concil-PD-sub-header">
      <h5 class="concil-PD-sub-header-title">Units Below This Unit</h5>
    </div>


    <table class='table table-striped concil-table'>
      <thead>
        <tr>
          <th>#</th>
          <th>Parent</th>
          <th>Name</th>
          <th>Type</th>
          <th>&nbsp;&nbsp;&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unt of unitsbelow">
          <td class="col-md-1">{{unt.UnitNum}}</td>
          <td class="col-md-1">{{unt.ParentNum}}</td>
          <td class="col-md-7"> <input type="text" [(ngModel)]='unt.UnitName' class="txtunitname" /></td>
          <td class="col-md-2">
            <select class="txtunitname" [(ngModel)]='unt.UnitType' ng-init="unt.UnitType">        
            <option value="Area">Area</option>
            <option value="Stake">Stake</option>
            <option value="Ward">Ward</option>
            <option value="Ward">Branch</option>  
            <option value="Ward">District</option>        
         </select>
          </td>
          <td class="col-md-1">
            <span class="glyphicon glyphicon-remove-sign" (click)="deletechildUnit(unt.$key)"></span>
          </td>
        </tr>
      </tbody>
    </table>

  </ng-container>

</div>
<div class="concil-footer">
  <p>©Councils Foundation 501(c)(3)</p>
</div>
