@font-face {
  font-family: 'BerninaSans-Regular';
  src: url('../assets/fonts/BerninaSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/BerninaSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/BerninaSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/BerninaSans-Regular.svg') format('svg'); /* Legacy iOS */ /*webfont.svg#svgFontName'*/
}
@font-face {
  font-family: 'BerninaSans-Semibold';
  src: url('../assets/fonts/BerninaSans-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/BerninaSans-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/BerninaSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/BerninaSans-Semibold.svg') format('svg'); /* Legacy iOS */ /*webfont.svg#svgFontName'*/
}


*{
    font-family: "BerninaSans-Regular", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #35373A;
}

.container {
    /*background-image: url(../assets/web_admin_01.png);*/
    /*background-repeat: no-repeat;*/
    width: 61%;
    height: 100%;
    /*background-size: 100% 100%;*/
}


/*.container1 {
    width: 835px;
    height: 638px;
}*/

.nav-brand {
    padding: 24px 0;
    font-size: 27px;
}

.nav-right {
    font-size: 17px;
    margin-top: 12px;
}

.nav-form {
    margin-left: 31px;
    padding: 0px;
    margin-top: 0px;
}

a {
    color: #35373A;
}

.ro-w {
    margin-right: 0px;
    margin-left: 0px;
}

#navBarSearchForm input[type=Search] {
    width: 430px !important;
}


/*.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li,
.navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}*/

.signout{
  pointer-events: all;
}

.concil-nav{}

.concil-nav .navbar-brand{margin-left: -16px; font-weight: bold;font-size: 28px}

.concil-nav .navbar-nav{}
.concil-nav .navbar-nav > li > a{padding-top:10px; padding-bottom:10px;}
.concil-nav .navbar-nav li a{border-bottom:3px solid #fff;color: #6c6d71; font-size: 22px;}
.concil-nav .navbar-nav li a.active{border-bottom:3px solid #3CB18A;color:#35373A;background-color:#fff;}
.concil-nav .navbar-nav li a:hover{background-color: #fff ;}

/*------------Loader------------------------- */

.loader {
  padding: 0 !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  max-height: none !important;
  border-radius: 0 !important;
  opacity: .9;
  transform: translateZ(0px);
  background: #fff !important;
  box-shadow: none !important;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.circle-container {
  margin: auto;
}

.circleG_1 {
  background-color: rgb(250, 250, 250);
  float: left;
  height: 11px;
  margin-left: 10px;
  width: 11px;
  animation-name: bounce_circleG;
  -o-animation-name: bounce_circleG;
  -ms-animation-name: bounce_circleG;
  -webkit-animation-name: bounce_circleG;
  -moz-animation-name: bounce_circleG;
  animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  margin-left: 0 !important;
  animation-delay: .25s;
  -o-animation-delay: .25s;
  -ms-animation-delay: .25s;
  -webkit-animation-delay: .25s;
  -moz-animation-delay: .25s;
}

.circleG_2 {
  background-color: rgb(250, 250, 250);
  float: left;
  height: 11px;
  margin-left: 10px;
  width: 11px;
  animation-name: bounce_circleG;
  -o-animation-name: bounce_circleG;
  -ms-animation-name: bounce_circleG;
  -webkit-animation-name: bounce_circleG;
  -moz-animation-name: bounce_circleG;
  animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  animation-delay: .50s;
  -o-animation-delay: .50s;
  -ms-animation-delay: .50s;
  -webkit-animation-delay: .50s;
  -moz-animation-delay: .50s;
}

.circleG_3 {
  background-color: rgb(250, 250, 250);
  float: left;
  height: 11px;
  margin-left: 10px;
  width: 11px;
  animation-name: bounce_circleG;
  -o-animation-name: bounce_circleG;
  -ms-animation-name: bounce_circleG;
  -webkit-animation-name: bounce_circleG;
  -moz-animation-name: bounce_circleG;
  animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  animation-delay: .75s;
  -o-animation-delay: .75s;
  -ms-animation-delay: .75s;
  -webkit-animation-delay: .75s;
  -moz-animation-delay: .75s;
}

@keyframes bounce_circleG {
  0% {
    opacity: 0;
  }
  50% {
    background-color: rgba(60, 177, 138, .5);
  }
  100% {
    background-color: rgba(60, 177, 138, 1);
  }
}

@-o-keyframes bounce_circleG {
  0% {
    opacity: 0
  }
  50% {
    background-color: rgba(60, 177, 138, .5)
  }
  100% {
    background-color: rgba(60, 177, 138, 1);
  }
}

@-ms-keyframes bounce_circleG {
  0% {
    opacity: 0
  }
  50% {
    background-color: rgba(60, 177, 138, .5)
  }
  100% {
    background-color: rgba(60, 177, 138, 1);
  }
}

@-webkit-keyframes bounce_circleG {
  0% {
    opacity: 0
  }
  50% {
    background-color: rgba(60, 177, 138, .5)
  }
  100% {
    background-color: rgba(60, 177, 138, 1);
  }
}

@-moz-keyframes bounce_circleG {
  0% {
    opacity: 0
  }
  50% {
    background-color: rgba(60, 177, 138, .5)
  }
  100% {
    background-color: rgba(60, 177, 138, 1);
  }
}


/*------------Loader------------------------- */

